<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mmednet.robotGuide">


    <service android:name="com.unisrobot.u05.service.VoiceCtrService"/>

    <application
        android:name=".RobotApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".IndexActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".ResultActivity"
            android:screenOrientation="landscape">
        </activity>

        <receiver
            android:name=".receiver.VoiceReceiver"
            >
            <intent-filter>
                <action android:name="com.mmednet.interprocess"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>